.btn-add-car {
    background-color: #0D28A6 !important;
    border: 1px solid transparent !important;
    border-radius: 2px !important;
    padding: 8px 12px !important;
    height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 1 !important;
}