.template-areas {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.bg-cms {
    background-color: #F4F5F7;
}

.cms-logo {
    padding: 20px;
    text-align: center;
    font-size: 24;
    font-weight: bold;
}