.topnav {
    background-color: #0D28A6 !important;
    height: 100;
    padding: 13px;
    margin-top: -10px;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-style: Georgia;
    font-size: 20px;
}

.header-nav {
    background: #ffffff;
    width: 100%;
    display: flex;
    padding-left: 8px;
    padding-right: 2rem;
    justify-content: space-between;
    height: 4rem;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    align-items: center;
  }


.sidenav---sidenav---_2tBP {
    background: #0D28A6 !important;
}

.font-icon {
    color: var(--neutral-01, #FFF);
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    font-style: normal;
    }

.square-logo {
    width: 34px !important;
    height: 34px;
    background-color: #cfd4ed;
    text-align: center;
    flex-shrink: 0;
    /* margin: 15px; */
    margin-top: 0 !important;
}

.header-div {
    display: flex;
    justify-content: space-between;
  }
  
.ml-2 {
    margin-left: 0.5rem;
}
.ml-auto {
    margin-left: auto;
  }

.sidebar-nav {
  height: 100vh;
}

.btn-collapse {
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.role-container {
  display: flex;
  align-items: center;
}

.role-container .dropdown {
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  border: #0D28A6 1px solid;
}

.search-container .input-group-text {
  background-color: #f0f0f0;
  border: none;
}

.search-container .form-control {
  border: none;
  border-radius: 0;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button {
  border: 1px solid #0D28A6;
  border-radius: 0;
  background-color: #ffffff;
  color: #0D28A6;
  font-weight: bold;
}

.search-button-clicked {
  background-color: #007bff;
  color: #ffffff;
}

.bi-list{
  font-weight: 500;
  font-size: larger
}

.sidebar {
  width: 350px;
  background-color: fff;
  position: relative;
  transition: width 0.3s ease;
  z-index: 100;
  display: flex;
}

.sidebar.minimized {
  width: 70px;
  background-color: #0D28A6;
}

.sidebar-blue {
  width: 80px;
  background-color: #0D28A6;
  height: 100%;
  position: inherit;
}

.sidebar-details {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  transition: width 0.3s ease;
  z-index: 100;
}

.sidebar-minimized {
  width: 80px; 
  height: 100%;
  position: absolute;
  transition: width 0.1s ease;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.text-sidebar{
  text-decoration: none;
  color: #FFF;
  font-size: smaller;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.30) !important;
  color: #ffffff;
}

.cms-logo {
  width: 100px;
  height: 34px;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  font-size: 24;
  font-weight: bold;
  background-color: #cfd4ed;
  margin: 20px auto;
  margin-top: 1rem !important;
}

.cms-logo-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: green;
  width: 100px;
  height: 34px;
  flex-shrink: 0;
  padding: 20px;
}

.sidebar.minimized .cms-logo-container {
  display: none;
}

.square-div {
  width: 60px;
  height: 60px;
  background-color: black;
  margin: 20px auto;
}

.white-sidebar {
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto;
}
.text-white-sidebar{
  /* margin-left: 20px; */
  font-family: Arial;
  font-size: smaller;
  font-weight: 700;
}
.title-white-sidebar {
  color: darkgrey;
  margin-left: 20px;
  padding: 5px;
}

.desc-white-sidebar{
  background-color: #CFD4ED;
  padding: 15px 10px;
}