.admin-login-body {
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.admin-login-container {
    max-width: 1440px;
    max-height: 900px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.img-login {
    max-width: 100%;
    height: 100vh;
    object-fit: fill;
}

.success-toast {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
}

.offset-lg-0{
    padding: 0;
}

.font-title-cms {
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #000000;
}

.sign-in-wrapper {
    padding-left: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-wrapper-child {
    margin-bottom: 16px;
}

.sign-in-wrapper-child input {
    width: 100%;
}

.logo {
    width: 100px;
    height: 34px;
    background-color: #cfd4ed;
    text-align: center;
}

.logo-square {
    width: 34px;
    height: 34px;
    background-color: #cfd4ed;
    text-align: center;
}

.alert-login {
    padding: 10px;
}
